.DS_Store
*.swp
__MACOSX
.idea
/nbproject/*
.project
.buildpath
.thumbs
Thumbs.db
build.properties
/.project
*.sql
*.sql.zip
*.zip
/*.sublime-project
/*.sublime-workspace
/.well-known/
public_html/web/scratch.php
php_errorlog
.vscode/*

node_modules
wp-config.php
wp-content/uploads/*
.htaccess
wp-content/cache/
wp-content/wflogs/*
wp-content/wp-rocket-config/*
wp-content/advanced-cache.php