$sf_d_blue: #0f263e;
$sf_l_blue: #263c76;
$sf_green: #6e9e57;
$sf_grey: #a7a9ac;

$s_red:#991b1e;
$s_blue: #004a76;
$s_bgrey: #4e4F4F;
$s_green: #41783d;
$s_grey: #41453b;

$t_beige: #eedcaf;
$t_yellow: #ebcb44;
$t_orange: #eb9e3f;
$t_red: #790002;

$grey_dark: #9b9b9b;
$grey_light: rgb(215,215,215);
$grey_lighter: #eee;
$offwhite: #f5f5f5;

$black: rgb(13,13,13);
$white: #fff;
$bg_overlay: rgba(0,0,0,0.7);
$bg_overlay_light: rgba(0,0,0,0.5);

$primary: $sf_d_blue;
$secondary: $sf_green;
$tertiary: $sf_l_blue;

$error_border: $s_red;
$error_bg: rgba(153, 27, 30, 0.6);

$bg_color: $grey_lighter;
$border_grey: $grey_dark;

$bp_small: 600px;
$bp_medium: 900px;
$bp_mlarge: 1100px;
$bp_large: 1440px;
$bp_xlarge: 1920px;

$sp_small: 8px;
$sp_medium: 12px;
$sp_large: 16px;
$sp_xlarge: 24px;
$sp_comp_separator: 64px;
$sp_comp_separator_mobile: 32px;

$fs_xsmall: 12px;
$fs_small: 14px;
$fs_regular: 16px;
$fs_medium: 20px;
$fs_large: 24px;
$fs_xlarge: 28px;

$fs_hero: 64px;

$b_radius_small: 16px;
$b_radius_large: 50px;

$h_font: 'Inter', sans-serif;










